{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et debitis neque accusantium itaque temporibus totam illum ullam ab laudantium hic obcaecati corporis molestias quaerat, vel reiciendis molestiae amet voluptatum beatae voluptas atque. Harum fugiat quod perspiciatis atque magni tenetur possimus ipsa doloribus placeat consequatur voluptatem explicabo est dolore, ducimus sequi incidunt doloremque minima eum eos eveniet laborum delectus eaque? Amet accusamus provident voluptatem, aspernatur cum saepe nam ducimus consequatur voluptas quaerat aliquid repellendus ipsum deserunt hic, ex quam omnis architecto quisquam ea, doloremque facere explicabo! Eveniet placeat alias distinctio. Quidem, in. Sequi sit a aut facilis ullam totam ut nihil!</p>
<p>Website created by {{ username }}</p>

{% endblock %}